body {
  font: 16px arial, sans-serif;
}

#wrapperDiv {
  width: 100%;
  height: auto;
}

#allButtonsDiv {
  margin-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#allButtonsDiv button {
  font-size: 12px;
  color: white;
  background-color: black;
  margin-right: 16px;
  width: 55px;
  height: 25px;
  border: none;
  text-align: center;
  text-decoration: none;
}

#allButtonsDiv button:hover{
  cursor: pointer;
}

#allNotesDiv {
  width: 100%;
}

.noteDiv {
  margin-bottom: 25px;
}

.checkBoxDiv {
  width: 35px;
  float: left;
}

.noteText:hover {
  cursor: pointer;
  border: 1px solid black;
}
